{% extends "two-column.jinja" %}
{% block title %}Blog{% endblock %}
{% set selected_tab = "blog" %}
{% block left %}
    <div id="posts">
        <h1>Posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="post-preview">
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p class="post-date">Published on {{ post.date }}</p>
                    {{ post.preview | safe }}
                    <a href="{{ post.url }}">[Read More]</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="placeholder-text">There are no posts yet.</p>
        {% endif %}
    </div>
{% endblock %}
