{% extends "base.jinja" %}
{% block title %}{{ author.name }}{% endblock %}
{% block title_suffix %}{% endblock %}
{% block content %}
    <main id="content"></main>
    <aside></aside>
{% endblock %}
