{% extends "base.jinja" %}
{% block title %}{{ author.name }}{% endblock %}
{% block title_suffix %}{% endblock %}
{% set selected_tab = "home" %}
{% block content %}
    <main>
        <article id="content"></article>
        <aside></aside>
    </main>
{% endblock %}
