<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}{% block title_suffix %} | {{ site.fqdn }}{% endblock %}</title>

    <!-- Preload -->
    <link rel="preload" href="{{ static_url("stickman.svg") }}" as="image" type="image/svg+xml">
    <link rel="preload" href="{{ static_url("fonts/WOFF2/LibertinusSans-Regular-basic.woff2") }}" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="{{ static_url("fonts/WOFF2/LibertinusSans-Bold-basic.woff2") }}" as="font"
          type="font/woff2" crossorigin>
    <link rel="preload" href="{{ static_url("fonts/WOFF2/LibertinusSans-Italic-basic.woff2") }}" as="font"
          type="font/woff2" crossorigin>

    <style>{% include "style.css.jinja" %}</style>
</head>
<body>
<div id="root">
    <a id="skip" href="#content">Skip to main content</a>
    <header>
        <div id="title">
            <a href="https://{{ site.fqdn }}/"><b>{{ site.fqdn }}</b></a>
            <p>{{ site.tagline }}</p>
            <div id="links-container">
                <a href="mailto:{{ author.mail }}" aria-label="Email Address" title="Email Address">
                    {{ include_raw("mail.svg") }}
                </a>
                <a href="https://github.com/{{ author.github }}" aria-label="GitHub Profile" title="Github Profile">
                    {{ include_raw("github.svg") }}
                </a>
                <a href="https://linkedin.com/in/{{ author.linkedin }}" aria-label="LinkedIn Profile"
                   title="LinkedIn Profile">
                    {{ include_raw("linkedin.svg") }}
                </a>
                <a href="https://{{ site.fqdn }}/rss.xml" aria-label="RSS Feed" title="RSS Feed">
                    {{ include_raw("rss.svg") }}
                </a>
            </div>
        </div>
        <nav>
            <span {%- if selected_tab == "home" %} id="selected-tab"{% endif %}>
                <a href="/">Home</a>
            </span>
            <span {%- if selected_tab == "blog" %} id="selected-tab"{% endif %}>
                <a href="/blog">Blog</a>
            </span>
        </nav>
    </header>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <footer>
        <p>
            © {{ license.start }} {{ author.name }}. This work is licensed under
            <a href="{{ license.url }}" target="_blank" rel="license noopener noreferrer">{{ license.name }}</a>.
        </p>
    </footer>
</div>
</body>
</html>