{% extends "two-column.jinja" %}
{% block title %}{{ author.name }}{% endblock %}
{% block title_suffix %}{% endblock %}
{% set selected_tab = "home" %}
{% block left %}
    {% if content %}
        {{ content | safe }}
    {% else %}
        <p class="placeholder-text">Nothing to see here, move along.</p>
    {% endif %}
{% endblock %}
{% block right %}
    {% if recent_posts %}
        <table width="100%" style="margin-top: 2em">
            <thead>
            <tr>
                <th>Recent Posts</th>
            </tr>
            </thead>
            <tbody>
            {% for post in recent_posts %}
                <tr><td><a href="{{ post.url }}">{{ post.title }}</a></td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Recent Posts</h2>
        <p class="placeholder-text">There are no posts yet.</p>
    {% endif %}
{% endblock %}
