{% extends "two-column.jinja" %}
{% block title %}{{ author.name }}{% endblock %}
{% block title_suffix %}{% endblock %}
{% set selected_tab = "home" %}
{% block left %}
    {% if content %}
        {{ content | safe }}
    {% else %}
        <p class="placeholder-text">Nothing to see here, move along.</p>
    {% endif %}
{% endblock %}
{% block right %}
    <h2>Recent Posts</h2>
    {% if recent_posts %}
        <ul>
            {% for post in recent_posts %}
                <li><a href="{{ post.url }}">{{ post.text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="placeholder-text">There are no posts yet.</p>
    {% endif %}
{% endblock %}
