{% extends "two-column.jinja" %}
{% block title %}{{ author.name }}{% endblock %}
{% block title_suffix %}{% endblock %}
{% set selected_tab = "home" %}
{% block left %}
    {% if content %}
        {{ content | safe }}
    {% else %}
        <p class="placeholder-text">Nothing to see here, move along.</p>
    {% endif %}
{% endblock %}
{% block right %}
    <div id="recent-posts">
        <p>Recent Posts</p>
        {% if recent_posts %}
            {% for post in recent_posts %}
                <div>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                    <p>{{ "Published on " + post.date if post.date else "Not yet published..." }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="placeholder-text">There are no posts yet.</p>
        {% endif %}
    </div>
{% endblock %}
