{% extends "base.jinja" %}
{% block content %}
    <article id="content">
        {% block left %}
        {% endblock %}
    </article>
    <div>
        {% block right %}
        {% endblock %}
    </div>
{% endblock %}
